:host {
  display: flex;
  height: 100vh;
}

grimace-canvas {
  margin-left: 1em;
  flex-grow: 1;
}

.controls {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
